html {
  box-sizing: border-box;
  font-family: Merriweather;
  line-height: 1.5;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 40px;
  max-height: 40px;
}

.header {
  display: block;
  align-items: center;
  background-color: #d05c2e;
  border: 3px solid #a63f38;
  color: #fff;
}

nav {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.grains {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.menu {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.125em;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: 3px solid #a63f38;
}

a:hover {
  background-color: #a63f38;
  border: 3px solid #a63f38;
}
